.wrapper {
    width: 100%;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_l {
        display: flex;
        align-items: center;
    }

    &_r {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;

        span {
            font-size: 12px;
            line-height: 14px;
        }
    }
}

.icon {
    width: 32px;
    height: 32px;
    margin-right: 13px;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.token {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.field {
    height: 48px;
    margin-top: 8px;

    p {
        background: #F5B3BF;
        border-radius: 12px;
        padding: 0 12px;
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
        text-align: right;
        color: #66091A;
        width: 100%;
        height: 100%;

        &.disable {
            color: rgba(176, 74, 92, 1);
        }
    }

    input {
        background: #F5B3BF;
        border-radius: 12px;
        padding: 0 12px;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        text-align: right;
        color: #66091A;
        width: 100%;
        height: 100%;

        &.error {
            color: rgba(224, 28, 63, 1);
        }

        &.disable {
            color: rgba(176, 74, 92, 1);
        }

        &::placeholder {
            color: rgba(176, 74, 92, 1);
        }
    }
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    padding: 0 13px;

    &_l {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
    }

    &_r {
        display: flex;
        align-items: center;
        column-gap: 4px;
    }

    &_tab {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #66091A;
        background: #F5B3BF;
        border-radius: 20px;
        height: 20px;
        padding: 0 11px;
        cursor: pointer;
        user-select: none;

        &.active {
            color: #fff;
            background-color: #290007;
        }
    }
}