.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.block {
    &_title {
        margin-bottom: 14px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }

    &_items {
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        &.pink {
            .block {
                &_item {
                    background-color: rgba(245, 179, 191, 1);

                    &_l {
                        color: rgba(176, 74, 92, 1);
                    }

                    &_r {
                        width: 22px;
                    }
                }
            }
        }
    }

    &_item {
        background: #66091A;
        border-radius: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 14px;

        &_l {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            max-width: calc(100% - 23px);
        }

        &_r {
            width: 13px;
            display: flex;
            align-items: center;
        }
    }
}